<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>INTERIOR</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../css/bootstrap-grid.min.css">
    <link type="text/css" rel="stylesheet" href="../css/main.css">
    <link type="text/css" rel="stylesheet" href="../css/products.css">
</head>
<body>
    <div class="container-fluid">
        <header>
            <nav>
                <div class="row">
                    <div class="col-3 logo">
                        <img src="../img/logo.svg" alt="logo">
                    </div>
                    <div class="col-9">
                            <ul>
                                <li><a href="../index.html">HOME</a></li>
                                <li><a href="#">PRODUCTS</a></li>
                                <li><a href="#">HISTORY</a></li>
                                <li><a href="#">SHOWROOM</a></li>
                                <li><a href="#">CONTACT</a></li>
                                <li><a href="#"><img src="../img/search.svg" alt="search"></a></li>
                            </ul>
                    </div>
                </div>
            </nav>
            <div class="selector">
                <ul>
                    <li>ALL</li>
                    <li>HOME</li>
                    <li>OFFICE</li>
                    <li>FURNITURE</li>
                    <li>MODERN</li>
                    <li>CLASSIC</li>
                </ul>
            </div>
        </header>
        <section class="product">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">



                        {% block img %}
                        <img src="../img/slider1@1X.png" alt="slider" class="product-main-img">
                        <div class="slider-img">
                            <img src="../img/controll@1X.png" alt="slider #1">
                            <img src="../img/controll2@1X.png" alt="slider #2">
                            <img src="../img/controll11@1X.png" alt="slider #3">
                        </div>
                        {% endblock %}


                    </div>
                    <div class="col-md-6 product-text">


                        {% block text %}
                        <h1>Fishnet Chair</h1>
                        <strong>Hot Deal</strong>
                        <span>$ <b>36.7</b>/sq</span>
                        <button class="button">ORDER US ></button>
                        <div class="for-p">
                            <p>Lorem ipsum dolor sit amet, consectetur.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores distinctio dolor,
                                eos esse excepturi exercitationem, in ipsa minus molestiae nemo nihil obcaecati odit officiis
                                placeat quas reiciendis.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam delectus nobis odio omnis
                                voluptates modi quidem quod repudiandae sequi vero voluptatem?</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid cupiditate fugiat iusto?
                                Aliquam animi at dolore fuga fugit ipsa repellat.</p>
                        </div>
                        {% endblock %}


                    </div>
                </div>
            </div>
        </section>
        <section  class="related">
            <div class="container">
                <div class="row">
                    <div class="selector col-7">
                        <strong>Related Products</strong>
                    </div>
                    <div class="explore col-5">
                        <a href="#">EXPLORE ALL ></a>
                    </div>
                </div>
                <div class="related-img">
                    <div class="row">
                        <div class="col-md-4"><a href="#"><img src="../img/product-11@1X.jpeg" alt="product #1"></a></div>
                        <div class="col-md-4"><a href="#"><img src="../img/product-21@1X.jpeg" alt="product #2"></a></div>
                        <div class="col-md-4"><a href="#"><img src="../img/product-31@1X.jpeg" alt="product #3"></a></div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="footer-md">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <strong>CONTACT US</strong>
                            <p>132A Bridge Road Richmond VIC
                                Australia.</p>
                            <p>Talk to us on 1300 132
                                info@interior.com</p>
                        </div>
                        <div class="col-md-5">
                            <strong>USEFUL INFORMATION</strong>
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="#">SALES TEAM</a>
                                    <a href="#">CUSTOMER CARE</a>
                                    <a href="#">DELIVERY</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="#">Architect accounts</a>
                                    <a href="#">Careers</a>
                                    <a href="#">Exchanges & returns</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <strong>Let’s Stay in Touch!</strong>
                            <p>Suscribe to know about our latest news, products and special offers just for suscribers.</p>
                            <form action="#">
                                <input type="email" aria-label="email" placeholder="your email address">
                            </form>
                        </div>
                    </div>
                    <div class="copyright">
                        <p>© Copyright - INTERIOR 2016. All Rights Reserved.</p>
                        <p>Terms & Conditions  /  Privacy policy & Cookies</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>