{% extends 'products/layout.html' %}

{% block img %}
<img src="../img/slider1@1X.png" alt="slider" class="product-main-img">
<div class="slider-img">
    <img src="../img/controll@1X.png" alt="slider #1">
    <img src="../img/controll2@1X.png" alt="slider #2">
    <img src="../img/controll11@1X.png" alt="slider #3">
</div>
{% endblock %}

{% block text %}
<h1>Fishnet Chair</h1>
<strong>Hot Deal</strong>
<span>$ <b>36.7</b>/sq</span>
<button class="button">ORDER US ></button>
<div class="for-p">
    <p>Lorem ipsum dolor sit amet, consectetur.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores distinctio dolor,
        eos esse excepturi exercitationem, in ipsa minus molestiae nemo nihil obcaecati odit officiis
        placeat quas reiciendis.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam delectus nobis odio omnis
        voluptates modi quidem quod repudiandae sequi vero voluptatem?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid cupiditate fugiat iusto?
        Aliquam animi at dolore fuga fugit ipsa repellat.</p>
</div>
{% endblock %}