<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>INTERIOR</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../css/bootstrap-grid.min.css">
    <link type="text/css" rel="stylesheet" href="../css/main.css">
    <link type="text/css" rel="stylesheet" href="../css/contacts.css">
</head>
<body>
<div class="container-fluid">
    <header>
        <div class="row">
            <div class="logo col-3">
                <img src="../img/logo.svg" alt="logo">
            </div>
            <div class="menu col-md-9">
                <ul>
                    <li><a href="../index.html">HOME</a></li>
                    <li><a href="products-list.html">PRODUCTS</a></li>
                    <li><a href="#">HISTORY</a></li>
                    <li><a href="#">SHOWROOM</a></li>
                    <li><a href="#">CONTACT</a></li>
                    <li><a href="#"><img src="../img/search.svg" alt="search"></a></li>
                </ul>
            </div>
        </div>
        <h1>Contact Us</h1>
    </header>
    <section class="contacts">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a href="#"><div class="border">
                        <img src="../img/location-svgrepo-com.svg" alt="geo">
                        <div class="contacts-text">
                            <strong>California</strong>
                            <p>Phone:</p>
                            <b>1900 - 1234 -5678</b>
                            <p>Email:</p>
                            <b>info@interior.com</b>
                            <p>Address:</p>
                            <b>12 W 1st St, 90001 Los Angeles, California</b></div>
                    </div></a>
                </div>
                <div class="col-md-4">
                    <a href="#"><div class="border">
                        <img src="../img/location-svgrepo-com.svg" alt="geo">
                        <div class="contacts-text">
                            <strong>California</strong>
                            <p>Phone:</p>
                            <b>1900 - 1234 -5678</b>
                            <p>Email:</p>
                            <b>info@interior.com</b>
                            <p>Address:</p>
                            <b>12 W 1st St, 90001 Los Angeles, California</b></div>
                    </div></a>
                </div>
                <div class="col-md-4">
                    <a href="#"><div class="border">
                        <img src="../img/location-svgrepo-com.svg" alt="geo">
                        <div class="contacts-text">
                            <strong>California</strong>
                            <p>Phone:</p>
                            <b>1900 - 1234 -5678</b>
                            <p>Email:</p>
                            <b>info@interior.com</b>
                            <p>Address:</p>
                            <b>12 W 1st St, 90001 Los Angeles, California</b></div>
                    </div></a>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer-md">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <strong>CONTACT US</strong>
                        <p>132A Bridge Road Richmond VIC
                            Australia.</p>
                        <p>Talk to us on 1300 132
                            info@interior.com</p>
                    </div>
                    <div class="col-md-5">
                        <strong>USEFUL INFORMATION</strong>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="#">SALES TEAM</a>
                                <a href="#">CUSTOMER CARE</a>
                                <a href="#">DELIVERY</a>
                            </div>
                            <div class="col-md-6">
                                <a href="#">Architect accounts</a>
                                <a href="#">Careers</a>
                                <a href="#">Exchanges & returns</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <strong>Let’s Stay in Touch!</strong>
                        <p>Suscribe to know about our latest news, products and special offers just for suscribers.</p>
                        <form action="#">
                            <input type="email" aria-label="email" placeholder="your email address">
                        </form>
                    </div>
                </div>
                <div class="copyright">
                    <p>© Copyright - INTERIOR 2016. All Rights Reserved.</p>
                    <p>Terms & Conditions  /  Privacy policy & Cookies</p>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>