{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>INTERIOR</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'main/css/firs-page.css' %}">
</head>
<body>
    <div class="container-fluid">
        <header>
            <div class="row">
                <div class="logo col-3">
                    <img src="img/logo.svg" alt="logo">
                </div>
                <div class="menu col-md-9">
                    <ul>
                        <li><a href="#">HOME</a></li>
                        <li><a href="html/products-list.html">PRODUCTS</a></li>
                        <li><a href="#">HISTORY</a></li>
                        <li><a href="#">SHOWROOM</a></li>
                        <li><a href="html/contacts.html">CONTACT</a></li>
                        <li><a href="#"><img src="img/search.svg" alt="search"></a></li>
                    </ul>
                </div>
            </div>
            <div class="header-text">
                <b>TRENDING</b>
                <h1>FISHNET CHAIR</h1>
                <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black
                    or highly polished chrome.</p>
                <button class="button">ORDER US ></button>
            </div>
            <div class="circle" id="circle">
                <div></div>
                <div class="active"></div>
                <div></div>
            </div>
        </header>
        <section class="featured-product">
            <div class="container">
                <div class="row">
                    <div class="selector col-8">
                        <a href="#"><span class="active">Featured</span></a>
                        <a href="#"><span class="inactive">New</span></a>
                    </div>
                    <div class="explore col-4">
                        <a href="#">EXPLORE ALL ></a>
                    </div>
                </div>
            <div class="row products">
                <div class="col-md-3"><a href="#"><div></div></a></div>
                <div class="col-md-3"><a href="#"><div></div></a></div>
                <div class="col-md-3"><a href="#"><div></div></a></div>
                <div class="col-md-3"><a href="#"><div></div></a></div>
            </div>
            </div>
        </section>
        <section class="promo-product">
            <div class="row">
                <div class="col-md-6 img">
                    <div class="promo-product-text">
                        <div>
                        <b>EXCLUSIVE</b>
                        <strong>Fishnet Chair</strong>
                        <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt
                            powder-coated black
                            or highly polished chrome.</p>
                        <button class="button">ORDER US ></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 img">
                    <div class="promo-product-text">
                        <b>EXCLUSIVE</b>
                        <strong>Fishnet Chair</strong>
                        <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt
                            powder-coated black
                            or highly polished chrome.</p>
                        <button class="button">ORDER US ></button>
                    </div>
                </div>
            </div>
        </section>
        <section class="trending">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <span>Trending Products</span>
                    </div>
                    <div class="explore col-4">
                        <a href="#">EXPLORE ALL ></a>
                    </div>
                </div>
                <div class="row img">
                    <div class="col-md-4"><a href="#"><img src="img/product-11@1X.jpeg" alt="product #1"></a></div>
                    <div class="col-md-4"><a href="#"><img src="img/product-21@1X.jpeg" alt="product #2"></a></div>
                    <div class="col-md-4"><a href="#"><img src="img/product-31@1X.jpeg" alt="product #3"></a></div>
                    <div class="col-md-4"><a href="#"><img src="img/product-41@1X.jpeg" alt="product #4"></a></div>
                    <div class="col-md-4"><a href="#"><img src="img/product-5@1X.jpeg" alt="product #5"></a></div>
                    <div class="col-md-4"><a href="#"><img src="img/product-6@1X.jpeg" alt="product #6"></a></div>
                </div>
            </div>
        </section>
        <section class="hot-deals">
            <div>
                <b>TRENDING</b>
                <h2>FISHNET CHAIR</h2>
                <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black
                    or highly polished chrome.</p>
                <button class="button">ORDER US ></button>
            </div>
        </section>
        <section class="exclusive">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 main">
                        <div class="exclusive-main">
                            <b>EXCLUSIVE</b>
                            <strong>Fishnet Chair</strong>
                            <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt
                                powder-coated black
                                or highly polished chrome.</p>
                            <button class="button">ORDER US ></button>
                        </div>
                    </div>
                    <div class="col-md-6 exclusive-img">
                        <div class="row">
                            <div class="col-md-6"><a href="#"><img src="img/product-2-sm@1X.jpeg" alt="product1"></a>
                            </div>
                            <div class="col-md-6"><a href="#"><img src="img/product-3-sm@1X.jpeg" alt="product2"></a>
                            </div>
                            <div class="col-md-6"><a href="#"><img src="img/product-4-sm@1X.jpeg" alt="product3"></a>
                            </div>
                            <div class="col-md-6"><a href="#"><img src="img/product-5-sm@1X.jpeg" alt="product4"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="app">
            <div class="app-text">
                <b>MOBILE APP</b>
                <h3>FIND. FOLLOW. FAVORITE.</h3>
                <p>Save your favorites and share your style.</p>
                <div class="buttons">
                <div><a href="#"><img src="img/app-store@1X.jpeg" alt="app"></a></div>
                <div><a href="#"><img src="img/google-play@1X.jpeg" alt="google-play"></a></div>
                </div>
            </div>
        </section>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <strong>CONTACT US</strong>
                        <p>132A Bridge Road Richmond VIC
                            Australia.</p>
                        <p>Talk to us on 1300 132
                            info@interior.com</p>
                    </div>
                    <div class="col-md-5">
                        <strong>USEFUL INFORMATION</strong>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="#">SALES TEAM</a>
                                <a href="#">CUSTOMER CARE</a>
                                <a href="#">DELIVERY</a>
                            </div>
                            <div class="col-md-6">
                                <a href="#">Architect accounts</a>
                                <a href="#">Careers</a>
                                <a href="#">Exchanges & returns</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <strong>Let’s Stay in Touch!</strong>
                        <p>Suscribe to know about our latest news, products and special offers just for suscribers.</p>
                        <form action="#">
                            <input type="email" aria-label="email" placeholder="your email address">
                        </form>
                    </div>
                </div>
                <div class="copyright">
                    <p>© Copyright - INTERIOR 2016. All Rights Reserved.</p>
                    <p>Terms & Conditions  /  Privacy policy & Cookies</p>
                </div>
            </div>
        </footer>
    </div>

<script src="js/vue.js"></script>
<script src="js/main+.js"></script>

</body>
</html>